@using MAMS.Models.ViewModels

@inject IHttpContextAccessor _httpContextAccessor;

@model UserDetailsViewModel

@{
    ViewData["Title"] = "Home Page";
}
<head>

    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/adminlte/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/adminlte/plugins/summernote/summernote-bs4.min.css">
</head>

<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            
            <div class="row row-cols-2">
                <div class="col">
                    <div class="small-box bg-secondary shadow">
                        <div class="inner">
                            <h3>Under Construction!</h3>

                            <p>@Model.First_Name @Model.Last_Name - (@_httpContextAccessor.HttpContext.Session.GetString("UserName"))</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-person-check-fill"></i>
                        </div>
                        <a href="#" class="small-box-footer">Stay Connected... <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col">
                    <div class="info-box shadow">
                        <span class="info-box-icon bg-olive"><i class="bi bi-calendar-minus"></i></i></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">@DateTime.Today.DayOfWeek.ToString()</span>
                            <span class="info-box-number">@DateTime.Today.ToString("dd/MM/yyyy")</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info shadow">
                        <div class="inner">
                            <h3>150</h3>

                            <p>New Appointments</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-bookmark-check"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success shadow">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-bar-chart"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning shadow">
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-person-plus"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger shadow">
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="bi bi-pie-chart"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            </div>


        </div><!-- /.container-fluid -->

    </div>
    <!-- /.content -->

</div>



<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>

<!-- jQuery Knob Chart -->
<script src="~/adminlte/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/adminlte/plugins/moment/moment.min.js"></script>
<script src="~/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="~/adminlte/plugins/summernote/summernote-bs4.min.js"></script>