@using System.Data
@using MAMS.Services
@using MAMS.Models.ViewModels

@{
    ViewData["Title"] = "Availabilities";
}

@model IEnumerable<AvailabilityViewModel>

<div class="container">
    <div class="content-header">
        <h2>Availabilities</h2>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">--</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Available Day</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        Error: Failed to load data. Please try again later. or Please Log in again..
                                    </div>
                                }

                                else
                                {
                                    @foreach (var obj in Model)
                                    {
                                        <tr>
                                            @* <input asp-for="@obj." hidden /> *@
                                            <td data-Available_day="@obj.Available_Day">@obj.Available_Day</td>
                                            <td class="text-start text-break">@obj.StartTime</td>
                                            <td class="text-center">@obj.EndTime</td>

                                            <td>
                                                <div class="btn-group btn-group-justified" role="group">
                                                    <a asp-controller="Specialization" asp-action="Edit" asp-route-id="" class="btn btn-light"> <i class="bi bi-pencil-square"></i></a>
                                                    <a href="#" class="delete-button btn btn-light" data-id=""> <i class="bi bi-trash3-fill"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    </div>
