@using System.Data
@using MAMS.Services
@{
    ViewData["Title"] = "Specializations";
}
@model IEnumerable<Specializations>
<div class="container">
    <div class="content-header">

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col">
                    <h2 class="text-primary">Specializations</h2>
                </div><!-- /.col -->
                <div class="col text-end">
                    <a asp-controller="Specialization" asp-action="Create" class="btn btn-warning rounded-pill"><i class="bi bi-plus-circle"></i>&nbsp; Create New </a>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <hr />
        </div><!-- /.container-fluid -->


        <br />

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">--</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Specialization</th>
                                    <th class="text-center">Description</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model == null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        Error: Failed to load data. Please try again later. or Please Log in again..
                                    </div>
                                }

                                else
                                {
                                    @foreach (var obj in Model)
                                    {
                                        <tr>
                                            <input asp-for="@obj.Specializations_Id" hidden />
                                            <td data-Specializations_Name="@obj.Specializations_Name">@obj.Specializations_Name</td>
                                            <td class="text-start text-break">@obj.Description</td>
                                            <td class="text-center">

                                                @if (obj.Record_Status == Enums.ActiveStatus.Active)
                                                {
                                                    <span class="badge bg-success">Active</span>
                                                }
                                                else if (obj.Record_Status == Enums.ActiveStatus.Inactive)
                                                {
                                                    <span class="badge bg-danger">Inactive</span>
                                                }

                                            </td>

                                            <td>
                                                <div class="btn-group btn-group-justified" role="group">
                                                    <a asp-controller="Specialization" asp-action="Edit" asp-route-id="@obj.Specializations_Id" class="btn btn-light"> <i class="bi bi-pencil-square"></i></a>
                                                    <a href="#" class="delete-button btn btn-light" data-id="@obj.Specializations_Id"> <i class="bi bi-trash3-fill"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="showDeleteConfirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to Delete this Specialization?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmYes" data-id="">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Handle checkbox toggle event
            $('.status-switch').change(function () {
                var specializationId = $(this).data('specializations-id');
                var isChecked = $(this).prop('checked');
                console.log(specializationId);
                console.log(isChecked);
                updateRecordStatus(specializationId, isChecked);
            });

            // Function to update Record_Status asynchronously
            function updateRecordStatus(specializationId, isChecked) {
                var apiUrl = '@Url.Action("UpdateRec", "Specialization")';

                $.ajax({
                    url: apiUrl,
                    type: 'POST', // or 'PUT' depending on your API
                    data: {
                        Id: specializationId,
                        isChecked: isChecked
                    },
                    success: function (result) {
                        // Handle success, if needed
                    },
                    error: function (error) {
                        console.error('Error updating Record_Status:', error);
                        // Handle error, if needed
                    }
                });
            }
        });
    </script>

    @{
        <partial name="_ValidationScriptspartial" />
    }
    <script>
        //Function to show the delete confirmation modal
        function showDeleteConfirmationModal(id) {
            $('#deleteConfirmationModal').modal('show');
            var id = $('#confirmYes').data('id', id);
        }

        // Attach the delete confirmation dialog to the Delete button
        $(document).ready(function () {
            $('.delete-button').click(function (e) {
                e.preventDefault(); // Prevent the default link behavior
                // Extract the id from the delete button's data-id attribute
                var id = $(this).data('id');
                showDeleteConfirmationModal(id); // Show the delete confirmation modal
            });

            // Handle form submission when "Yes" is clicked
            $('#confirmYes').click(function () {
                var id = $(this).data('id');
                $('#deleteConfirmationModal').modal('hide'); // Hide the modal
                // Redirect to the delete action with the id parameter
                console.log("Deletion ID:", id);
                window.location.href = '@Url.Action("Delete", "Specialization")' + '?id=' + id;
            });
        });
    </script>
}